@model IEnumerable<HtmlSampleInfo>



@{
    this.ViewData["Title"] = "All stored HTML";
}

@if (this.TempData.ContainsKey("Success"))
{
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @this.TempData["Success"]
    </div>
}

<div class="">
    <div class="text-center">
        <h1>All stored HTML codes in your list</h1>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">CreatedOn</th>
                <th scope="col">ModifiedOn</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>@item.CreatedOn</td>
                    <td>@item.ModifiedOn</td>
                    <td><a class="btn btn-info" asp-controller="Home" asp-action="Index" asp-route-id="@item.Id">View</a></td>
                </tr>
            </tbody>
        }
    </table>
</div>


