@model SampleFormModel

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{ this.ViewData["Title"] = "Render your HTML code";
                var action = string.Empty;

                if (Model == null)
                {
                    action = "Save";
                }
                else
                {
                    action = "Edit";
                } }


@if (this.TempData.ContainsKey("Message"))
{
<div class="alert alert-danger alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    @this.TempData["Message"]
</div>}

@if (this.TempData.ContainsKey("Success"))
{
<div class="alert alert-success alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    @this.TempData["Message"]
</div>}

<div class="text-center">
    <h1 class="font-italic">Welcome to Online HTML Previewer</h1>
    <h4 class="font-weight-lighter">Here you can write and see HTML in action.</h4>
    <h5 class="font-weight-lighter">The size of the HTML example can be up to 5MB.</h5>

    <br />
    <hr />
</div>
<div class="container">
    <form method="post">
        <div class="row">
            <br />
            <div class="col-md-5">
                <label asp-for="HtmlCode">Write your HTML Code here:</label>
                <textarea asp-for="HtmlCode" class="textarea" id="htmlCodeInput" rows="25" cols="70"></textarea>
            </div>

            <div class="col-md-5 offset-2">
                <label for="htmlCodeOutput">HTML Preview:</label>
                <div id="htmlCodeOutput" class="textarea outputTextarea">

                </div>
            </div>
        </div>
        <div class="row offset-5">
            @if (this.SignInManager.IsSignedIn(User))
            {
<div class="pt-3">
    <button asp-controller="Html" asp-action="@action" type="submit" class="saveButton">Save</button>
</div>            }
        </div>
    </form>
    <div class="text-center">
        <div class="pt-2">
            <button type="submit" class="submit" id="redering">Run</button>
        </div>
        @if (this.SignInManager.IsSignedIn(User) && Model != null)
        {
<div class="pt-2">
    <button type="submit" class="checkButton">Check original</button>
</div>}
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript" src="~/js/previewJs/preview.js"></script>
}
