@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{ 
    this.ViewData["Title"] = "Render your HTML code"; 
 }

<div class="text-center">
    <h1 class="font-italic">Welcome to Online HTML Previewer</h1>
    <h5 class="font-weight-lighter">Here you can write and see HTML in action.</h5>

    <br />
    <hr />
</div>
<div class="container">
    <form method="post">
        <div class="row">
            <br />
            <div class="col-md-5">
                <label for="htmlCode">Write your HTML Code here:</label>
                <textarea class="textarea" id="htmlCodeInput" name="htmlCodeInput" rows="25" cols="70"></textarea>
            </div>

            <div class="col-md-5 offset-2">
                <label for="htmlCodeOutput">HTML Preview:</label>
                <div id="htmlCodeOutput" class="textarea outputTextarea">

                </div>
            </div>
        </div>
        <div class="row offset-5">
            @if (this.SignInManager.IsSignedIn(User))
            {
                <div class="pt-3">
                    <button type="submit" class="saveButton">Save</button>
                </div>
            }
        </div>
    </form>
    <div class="text-center">
        <div class="pt-2">
            <button type="submit" class="submit" id="redering">Run</button>
        </div>
        @if (this.SignInManager.IsSignedIn(User))
        {
            <div class="pt-2">
                <button type="submit" class="checkButton">Check original</button>
            </div>
         }

    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="~/js/previewJs/preview.js"></script>
}
